table {
  width: 100%;
}

.mat-form-field {
  width: 100%;
}

.header-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .add-employee-icon {
    font-size: 22px;
  }
}
