<div class="header-actions">
  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Employee Name" #input>
  </mat-form-field>
</div>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Full name</th>
      <td mat-cell *matCellDef="let employee"> {{employee.fullName}} </td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Position</th>
      <td mat-cell *matCellDef="let employee"> {{employee.position}} </td>
    </ng-container>

    <ng-container matColumnDef="birthday">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Birthday</th>
      <td mat-cell *matCellDef="let employee"> {{employee.birthday | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender</th>
      <td mat-cell *matCellDef="let employee"> {{employee.gender}} </td>
    </ng-container>

    <ng-container matColumnDef="contactInformation">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Contact Information</th>
      <td mat-cell *matCellDef="let employee"> {{(employee.contactInformation || "not provided") | truncate: 20}} </td>
    </ng-container>

    <ng-container matColumnDef="salary">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary</th>
      <td mat-cell *matCellDef="let employee">$ {{employee.salary}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef class="text-end">
        <button mat-button (click)="addEmployee()" mat-flat-button color="primary">
          <mat-icon class="add-employee-icon">add</mat-icon>
          Employee
        </button>
      </th>
      <td mat-cell *matCellDef="let employee; let i=index;" class="text-end">
        <button mat-icon-button color="accent" (click)="editEmployee(employee, i)">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" (click)="removeEmployee(employee, i)">
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let employee; columns: displayedColumns;"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="7">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 35, 100]"></mat-paginator>
</div>
