<h3 mat-dialog-title>Add new Employee</h3>

<form mat-dialog-content (submit)="onSubmit()" #formControl="ngForm">
  <mat-form-field>
    <input matInput name="fullName" placeholder="Full name" [(ngModel)]="data.fullName" required>
    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Position</mat-label>
    <mat-select name="position" [(ngModel)]="data.position" required>
      <mat-option *ngFor="let position of POSITIONS" [value]="position">
        {{position}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Birthday</mat-label>
    <input matInput name="birthday" [matDatepicker]="picker" [min]="minBirthdayDate" [max]="maxBirthdayDate" [(ngModel)]="data.birthday" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker [startView]="'multi-year'"></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Gender</mat-label>
    <mat-select name="gender" [(ngModel)]="data.gender">
      <mat-option *ngFor="let gender of GENDERS" [value]="gender">
        {{gender}}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput name="contactInformation" placeholder="Contact information" [(ngModel)]="data.contactInformation"></textarea>
    <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <span matPrefix>$&nbsp;</span>
    <input matInput name="salary" placeholder="Salary" [(ngModel)]="data.salary" type="number">
  </mat-form-field>
</form>


<div mat-dialog-actions>
  <button mat-button (click)="onCancel()" tabindex="-1">Cancel</button>
  <button mat-button type="submit" [disabled]="!formControl.valid" [mat-dialog-close]="data">
    Save
  </button>
</div>
